###########################################
#          Dmenu Patching                 #
###########################################

######################
### Ignore PDF

*.pdf

######################
### Ignore Diffs

*.rej